<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          {% assign is_en = false %}
          {% if page.url contains '/en/' %}
            {% assign is_en = true %}
          {% endif %}

          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item">
            {% if is_en %}
              <a href="https://bohansu.github.io/" aria-label="Switch to Chinese version">
                <img class="svg" src="/images/cn.svg" width="20pt">
                中文
              </a>
            {% else %}
              <a href="https://bohansu.github.io/en/" aria-label="Switch to English version">
                <img class="svg" src="/images/en.svg" width="20pt">
                English
              </a>
            {% endif %}
          </li>

          {% if is_en %}
            <li class="masthead__menu-item"><a href="/en/#about-me" data-section-link="about-me">About</a></li>
            <li class="masthead__menu-item"><a href="/en/#news" data-section-link="news">News</a></li>
            <li class="masthead__menu-item"><a href="/en/#publications" data-section-link="publications">Publications</a></li>
            <li class="masthead__menu-item"><a href="/en/#projects" data-section-link="projects">Projects</a></li>
            <li class="masthead__menu-item"><a href="/en/#background" data-section-link="background">Background</a></li>
            <li class="masthead__menu-item"><a href="/en/#contact" data-section-link="contact">Contact</a></li>
          {% else %}
            {% for link in site.data.navigation.main %}
              {% if link.url contains '#' %}
                {% assign section_id = link.url | split: '#' | last %}
                <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}" data-section-link="{{ section_id }}">{{ link.title }}</a></li>
              {% else %}
                <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
              {% endif %}
            {% endfor %}
          {% endif %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
