<!doctype html>
<html lang="{% if page.url contains '/en/' %}en{% else %}zh-CN{% endif %}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="homepage{% if page.url contains '/en/' %} homepage--en{% else %} homepage--zh{% endif %}">
    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      <article class="page page--full page--landing" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap page__inner-wrap--full">
          <section class="page__content page__content--full" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

    <div class="footer_site">
      <hr/>
      <div class="footer_copyright">
        © 2026 苏渤涵 · Bohan Su
      </div>
    </div>
  </body>
</html>
