---
layout: compress
---

<!doctype html>
<html lang="{% if page.url contains '/en/' %}en{% else %}zh-CN{% endif %}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="homepage{% if page.url contains '/en/' %} homepage--en{% else %} homepage--zh{% endif %}">
    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      <article class="page page--full" itemscope itemtype="http://schema.org/CreativeWork" style="float:none; width:100%; max-width: 1220px; margin: 0 auto;">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap" style="float:none; width:100%; margin:0 auto;">
          <section class="page__content" itemprop="text" style="float:none; width:100%; margin:0 auto;">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

    <div class="footer_site">
      <hr/>
      <div class="footer_copyright">
        © 2026 苏渤涵 | 基于&nbsp
        <a class="page_a" href="https://github.com/RayeRen/acad-homepage.github.io">acad</a>&nbsp模板
      </div>
    </div>
  </body>
</html>
